::before,
::after,
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --privacy-grid-rows: 4;
    --civil-rights-grid-rows: 1;
    --navbar: 10vh;
    --viewport: calc(100vh - var(--navbar));

    --color1: #375f72;
    --color2: rgb(246, 173, 38);
    --color3: #213944;
    --color4: white;
    --color5: rgb(236, 233, 233);
}

html{
    scroll-snap-type: y proximity;
    scroll-padding-top: var(--navbar);
}

/*Navbar*/
#navbar, #backdrop-blurr{
    position: fixed;
    height: var(--navbar);
    width: 100vw;
}

#navbar{
    display: flex;
    background-color: var(--color4);
    opacity: 0.8;
}

#backdrop-blurr{
    background-color: transparent;
    backdrop-filter: blur(5px);
}

#tab{
    display: none;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

#nav-logo{
    height: 100%;
    margin-left: 0.5rem;
}

#privacy-btn, #civil-rights-btn{
    background-color: inherit;
}

.tablink{
    border: none;
    margin: 0 1.3rem 0 0;
    cursor: pointer;
    color: black;
    font-size: 1rem;
}

.tablink:focus{
    outline: 3px solid var(--color3);
}

/* Main content*/
#landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

.tab-content{
    display: none;
    padding-top: var(--navbar);
    width: inherit;
}

#privacy, #civil-rights{
    grid-auto-flow: row;
    grid-template-columns: 100vw;
}

#privacy {
    grid-template-rows: repeat(var(--privacy-grid-rows), minmax(var(--viewport), auto));
}

#civil-rights{
    grid-template-rows: repeat(var(--civil-rights-grid-rows), minmax(var(--viewport), auto));
}

.scroll-snap{
    scroll-snap-align: start;
}

.active{
    display: grid !important;
}

.vpn-section, .messenger-section{
    display: flex;
}

.messenger-section{
    flex-direction: row-reverse;
}

.image-container{
    height: 100%;
    width: 30%;
}

button{
    border-radius: 15px;
    border: 2px solid var(--color2);
    background-color: var(--color1);
    color: var(--color4);
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

button:hover{
    background-color: var(--color3);
}

button:focus{
    outline: 3px solid var(--color3);
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Icons Font Awesome*/
.fa-solid{
    margin-right: 0.3rem;
    color: var(--color1);
}

.fa-quote-right, .fa-quote-left{
    font-size: 1.3rem;
    color: var(--color1);
}

/* Text styling*/
.text-container{
    width: 70%;
    padding: 1rem 2rem 1rem 2rem;
}

h1{
    margin-bottom: 2rem;
}

ol, ul{
    padding: 0 0 0 3rem;
}

li, h2{
    margin: 0.5rem 0 0 0;
}

li:first-child, li > p{
    margin: 0 0 0 0;
}

h2, h3, h1{
    color: var(--color1);
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.3rem;
    margin: 1rem 0 0 0;
}

p, details, ol, ul, blockquote{
    margin: 0.7rem 0 0 0;
    font-size: 1.1rem;
}

table{
    border-collapse: collapse;
    margin: 0.7rem 0 0 0;
    width: 100%;
}

th, td{
    text-align: left;
}

tr{
    height: 30px;
}

tbody tr:nth-child(odd){
    background-color: var(--color5);
}

fieldset{
    margin: 0.7rem 0 0 0;
    border: none;
    border-left: 5px solid var(--color1);
    padding-left: 1rem;
}

legend{
    font-size: 1.3rem;
}

input, #btn-mini-quizz, #quiz-result{
    margin: 0.7rem 0 0 0;
}

label, #btn-mini-quizz button, #quiz-result{
    font-size: 1.1rem;
}

blockquote{
    padding: 1rem;
}

/*Progress bar logo*/
#lock{
    fill: var(--color1);
}

svg {
    width: auto;
    height: 100%;
    display: block;
    background: var(--color4);
  }
.progress-circle {
    fill: none;
    stroke: var(--color2);
    stroke-width: 100;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 1s ease;
  }
.background-circle {
    fill: none;
    stroke: var(--color5);
    stroke-width: 100;
  }

/* Mini-Quizz */
form, #btn-mini-quizz button{
    width: 100%;
    height: 100%;
}

form{
    display: grid;
    grid-auto-flow: row;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(7, auto);
    padding: 1rem 2rem 1rem 2rem;
}

#heading-mini-quizz, #btn-mini-quizz, #quiz-result{
    text-align: center;
    grid-column: 1 / span 2;
}

#heading-mini-quizz{
    grid-row: 1;
}

#btn-mini-quizz{
    grid-row: 6;
}

#quiz-result{
    grid-row: 7;
}

@media only screen and (max-width: 767px){
    form{
        grid-template-columns: auto;
        grid-template-rows: repeat(11, auto);
    }

    #heading-mini-quizz, #btn-mini-quizz, #quiz-result{
        grid-column: 1
    }
    
    #heading-mini-quizz{
        grid-row: 1;
    }
    
    #btn-mini-quizz{
        grid-row: 10;
    }
    
    #quiz-result{
        grid-row: 11;
    }
}

@media only screen and (max-width: 493px){
    #tab{
        flex-direction: column;
    }

    .tablink{
        margin: 0 0 0 0;
    }

    img, .image-container{
        display: none;
    }

    .text-container, form{
        width: 100%;
        border-top: 1px solid var(--color1);
    }
}