::before,
::after,
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --privacy-grid-rows: 4;
    --civil-rights-grid-rows: 1;
}

html{
    scroll-snap-type: y proximity;
    scroll-padding-top: 10vh;
}

#navbar{
    display: flex;
    background-color: white;
    opacity: 0.8;
    position: fixed;
    height: 10vh;
    width: 100vw;
}

#backdrop-blurr{
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: fixed;
    height: 10vh;
    width: 100vw;
}

#tab{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#nav-logo{
    height: 100%;
    margin-left: 0.5rem;
}

.tablink{
    border: none;
    margin-left: 1.3rem;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    height: auto;
    color: #182d37;
    font-size: 0.9rem;
}

#main{
    height: 100vh;
    width: 100vw;
}

#landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.tab-content{
    display: none;
    padding-top: 10vh;
    width: inherit;
}

#privacy, #civil-rights{
    grid-auto-flow: row;
    grid-template-columns: 100vw;
}

#privacy {
    grid-template-rows: repeat(var(--privacy-grid-rows), minmax(90vh, auto));
}

#civil-rights{
    grid-template-rows: repeat(var(--civil-rights-grid-rows), minmax(90vh, auto));
}

.scroll-snap{
    scroll-snap-align: start;
}

.active{
    display: grid !important;
}

.vpn-section, .messenger-section{
    display: flex;
}

.messenger-section{
    flex-direction: row-reverse;
}

.image-container{
    height: 100%;
    width: 30%;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Icons Font Awesome*/
.fa-solid{
    margin-right: 0.3rem;
}

.fa-quote-right, .fa-quote-left{
    font-size: 1.3rem;
    color: #182d37;
}

/* Text styling*/
.text-container{
    width: 70%;
    padding: 1rem 2rem 1rem 2rem;
}

ol, ul{
    padding: 0 0 0 3rem;
}

li, h2{
    margin: 0.5rem 0 0 0;
}

li:first-child, li > p{
    margin: 0 0 0 0;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.3rem;
    margin: 1rem 0 0 0;
}

p, details, ol, ul, blockquote{
    margin: 0.7rem 0 0 0;
    font-size: 1.1rem;
}

table{
    border-collapse: collapse;
    margin: 0.7rem 0 0 0;
    width: 50%;
}

th, td{
    text-align: left;
}

tr{
    margin-left: 0.3rem;
    padding: 0;
    height: 30px;
}

fieldset{
    margin: 0.7rem 0 0 0;
    border: none;
    border-left: 5px solid #182d37;
    padding-left: 1rem;
}

legend{
    font-size: 1.3rem;
}

input{
    margin: 0.7rem 0 0 0;
}

label{
    font-size: 1.1rem;
}

tbody tr:nth-child(odd){
    background-color: lightgrey;
}

blockquote{
    background-color: lightgrey;
    padding: 1rem;
}

/*Progress bar logo*/
svg {
    width: auto;
    height: 100%;
    display: block;
    background: white;
  }
.progress-circle {
    fill: none;
    stroke: #00aaff;
    stroke-width: 100;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
.background-circle {
    fill: none;
    stroke: #ddd;
    stroke-width: 100;
  }


form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(7, auto);
    padding: 1rem 2rem 1rem 2rem;
}

#heading-mini-quizz{
    text-align: center;
    grid-column: 1 / span 2;
    grid-row: 1;
}

#btn-mini-quizz{
    text-align: center;
    margin-top: 0.7rem;
    grid-column: 1 / span 2;
    grid-row: 6;
}

#btn-mini-quizz button {
    font-size: 1.1rem;
    height: 100%;
    width: 100%;
}

#quiz-result{
    font-size: 1.1rem;
    text-align: center;
    margin-top: 0.7rem;
    grid-column: 1 / span 2;
    grid-row: 7;
}

.progress-circle{
    transition: stroke-dashoffset 1s ease;
}